language: python
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
    - "pypy"

env:
    - PEP8_IGNORE="E121,E122,E125,E127,E128,E221,E225,E241,E302,E303,E401,E501,W391"

# command to install dependencies
install:
    - pip install coverage --use-mirrors
    - pip install coveralls --use-mirrors
    - pip install pep8 --use-mirrors

# command to run tests
# require 100% coverage (not including test files) to pass Travis CI test
# To skip pypy: - if [[ $TRAVIS_PYTHON_VERSION != 'pypy' ]]; then DOSTUFF ; fi
script:
    - coverage run --source=toolz $(which nosetests) --with-doctest
    - coverage report --show-missing --fail-under=100
    - pep8 --ignore=$PEP8_IGNORE --show-source .

# load coverage status to https://coveralls.io
after_success:
    - coveralls

notifications:
  email: false
